@* @model PracticeSMSystem.Data.Models.StaffAttendance

<div class="modal-header bg-primary text-white">
    <h4 class="modal-title">Add New Attendance Record</h4>
    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
</div>

<form asp-action="Create" asp-controller="StaffAttendance" data-ajax="true" data-target="#listContainer" method="post">
    @Html.AntiForgeryToken()
    <div class="modal-body">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="AttendanceDate">Attendance Date</label>
            <input asp-for="AttendanceDate" type="datetime-local" class="form-control" />
        </div>

        <div class="form-group">
            <label>Staff</label>
            <select asp-for="StaffId" class="form-control" asp-items="@(new SelectList(ViewBag.staff, "Id", "FullName"))">
                <option value="">-- Select Staff --</option>
            </select>
        </div>

        <div class="form-group">
            <label>Departments</label>
            <select asp-for="DepartmentId" class="form-control" asp-items="@(new SelectList(ViewBag.Departments, "Id", "DName"))">
                <option value="">-- Select Departments --</option>
            </select>
        </div>

        <div class="form-group">
            <label>Status</label>
            <select asp-for="AttendanceStatus" class="form-control" asp-items="ViewBag.AttendanceStatus">
                <option value="">-- Select Status --</option>
            </select>
        </div>

        <div class="form-group">
            <label>Remarks</label>
            <textarea asp-for="AttendanceRemarks" class="form-control"></textarea>
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-sm">💾 Save</button>
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
    </div>
</form> *@