<h2>Create Role</h2>

@model PracticeSMSystem.Data.Models.Role

<h2>@(Model.Id == 0 ? "Create Role" : "Edit Role")</h2>

<form asp-controller="Role" asp-action="Save" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label asp-for="RoleName" class="form-label"></label>
        <input asp-for="RoleName" class="form-control" />
        <span asp-validation-for="RoleName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="RoleDescription" class="form-label"></label>
        <input asp-for="RoleDescription" class="form-control" />
        <span asp-validation-for="RoleDescription" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">Save</button>
    <a asp-controller="Role" asp-action="GetAll" class="btn btn-secondary">Back</a>
</form>
